.customDrawer {
    position: fixed;
    left: 0;
    right: 0;
    top: 40px;
    height: 100vh;
    padding-bottom: 2em;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    background: var(--darkWhite);
    z-index: 1000;
    .customDrawer-header {
        display: flex;
        align-items: center;
        padding: 1em;
        border-bottom: 1px solid var(--lightGray);
        .customDrawer-header-cross {
            cursor: pointer;
            font-size: 2em;
            padding: 0 0.5em;
        }
    }
    .customDrawer-body {
        padding: 1em;
        padding-bottom: 4em;
    }
}
