.ant-layout {
    background: none;
}

@for $i from 1 through 100 {
    .sectionPage:nth-child(#{$i}) {
        z-index: ($i);
    }
}
.sectionPageScroller {
    // height: 100vh;
    // scroll-snap-type: y mandatory;
    // overflow-y: scroll;
    .sectionPage {
        // scroll-snap-align: start;
        top: 0;
        pointer-events: none;

        .section {
            display: flex;
            flex-wrap: wrap;
            min-height: 100vh;
            position: relative;
            flex-direction: row;
            .section-content {
                pointer-events: all;
                flex-grow: 1;
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                max-height: 100vh;
                overflow: scroll;
                justify-content: flex-start;
                box-shadow: inset 0px 11px 8px -10px var(--lightGray);
                & > .section-content-block {
                    margin: auto;
                    padding: 0em 2em;
                }

                .section-content-block {
                    max-width: 1200px;
                    .section-title {
                        margin-bottom: 0.5rem;
                    }
                }
                li {
                    .icon {
                        margin: 0 10px;
                    }
                }
            }
            .section-img {
                flex-grow: 1;
                flex-basis: 50%;
                position: relative;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
.section-white {
    background-color: var(--bgWhite);
}
.section-darkWhite {
    background-color: var(--darkWhite);
}
.section-lightGray {
    background-color: var(--lightGray);
}
.section-coldGray {
    background-color: var(--coldGray);
}
.section-gray {
    background-color: var(--gray);
    color: var(--textInverse);
}

@media (max-width: 960px) {
    .sectionPage {
        .section {
            flex-direction: column !important;
            .section-content {
                max-height: 80vh;
            }
            .section-img {
                order: -1;
                min-height: 20vh;
                max-height: 20vh;
                width: 100vw;
            }
        }
    }
}
