.activities-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    margin-top: 1em;
    max-width: 700px;
    .list-index {
        margin-right: 0.5em;
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--primary);
        border-radius: 1em;
    }
    .list-infoBtn {
        font-size: 0.6em;
        margin-left: 0.5em;
        align-self: flex-start;
        width: 1em;
        height: 1em;
        padding: 0.6em;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--coldBlack);
        border-radius: 1em;
    }
    .tooltip {
        width: unset !important;
        color: var(--textInverse) !important;
        background: var(--textPrimary) !important;
        * {
            background: var(--textPrimary) !important;
        }
    }
}
