#feedbackForOrder {
    position: relative;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    .waiter {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.6;
            background-color: var(--darkWhite);
            height: 100%;
            width: 100%;
        }
    }
    form {
        display: flex;
        flex-direction: column;

        .formBtn {
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:active {
                transform: scale(0.99);
            }
            &[disabled] {
                pointer-events: none;
                opacity: 0.6;
            }
        }
        input[type="submit"] {
            font-weight: bold;
            margin-top: 1rem;
            &[disabled] {
                pointer-events: none;
                opacity: 0.6;
            }
        }
        .cancelBtn {
            border: none;
            color: var(--textPrimary);
            &:hover {
                background: var(--lightGray);
            }
        }
    }
}
