@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max, $units: px) {
    $k: ($f-max - $f-min) / ($v-max - $v-min);
    $b: $f-min - $k * $v-min;

    $b: $b + $units;

    @return calc(#{$k} * 100vw + #{$b});
}

.categoryGrid {
    max-width: 1200px;
    .categoryGridFilter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 0.5em;
        
    }
    .categoryGridContent {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1px;
        // grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        // grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        .categoryGridItem {
            width: 100%;
            // height: 90px;
            aspect-ratio: 1/1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition: opacity 0.2s linear;
            & > svg {
                height: 26px;
                width: 26px;
            }
            & > span {
                display: block;
                font-family: "Inter", sans-serif;
                font-size: calcFluidFontSize(8, 11, 480, 1280);
                font-weight: 400;
                white-space: nowrap;
                color: var(--textPrimary);
                margin-top: 0.5em;
                width: 100%;
                max-width: 60px;
                text-overflow: ellipsis;
                text-align: center;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 976px) {
    .categoryGrid {
        .categoryGridContent {
            grid-template-columns: repeat(9, 1fr);
            .categoryGridItem {
                & > svg {
                    height: 20px;
                    width: 20px;
                }
                & > span {
                    max-width: 65px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .categoryGrid {
        .categoryGridContent {
            .categoryGridItem {
                & > span {
                    max-width: 45px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .categoryGrid {
        .categoryGridContent {
            grid-template-columns: repeat(6, 1fr);
            .categoryGridItem {
                & > span {
                    max-width: 50px;
                }
            }
        }
    }
}
