@import "../../../Functions.scss";

.categorySquareGrid {
    max-width: 1200px;
    .categorySquareGridFilter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 0.5em;
    }
    .categorySquareGridContent {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1px;
        .categorySquareGridItem {
            width: 100%;
            position: relative;
            aspect-ratio: 1/1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition: opacity 0.2s linear;
            & > svg {
                height: 26px;
                width: 26px;
            }
            & > span {
                display: block;
                font-family: "Inter", sans-serif;
                font-size: calcFluidFontSize(8, 11, 480, 1280);
                font-weight: 400;
                white-space: nowrap;
                color: var(--textPrimary);
                margin-top: 0.5em;
                width: 80%;
                text-overflow: ellipsis;
                text-align: center;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 960px) {
    .categorySquareGrid {
        .categorySquareGridContent {
            grid-template-columns: repeat(9, 1fr);
            .categorySquareGridItem {
                & > svg {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .categorySquareGrid {
        .categorySquareGridContent {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}
