#homeProjects {
    .fullGridCardsView {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        .fullGridCardWrapper {
            flex-grow: 1;
            flex-basis: 50%;
            height: 100vh;
            display: flex;
            align-items: center;
            .fullGridCard {
                width: 100%;
                min-height: 50vh;
                display: flex;
                padding: 0 1em;
                .fullGridCardPreview {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    .fullGridCardImg {
                        height: 5em;
                        width: 5em;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                .fullGridCardView {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    #homeProjects {
        .fullGridCardsView {
            position: relative;
            flex-direction: column;
            .fullGridCardWrapper {
                width: 100%;
                .fullGridCard {
                    min-height: unset;
                    .fullGridCardPreview {
                        flex-direction: row;
                        width: 100%;
                        justify-content: left;
                        .fullGridCardImg {
                            margin-right: 1em;
                        }
                    }
                }
            }
        }
    }
}
