.sectionListOverlay {
    // height: 100vh;
    // overflow-y: scroll;
    // scroll-snap-type: y mandatory;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.section {
    position: relative;
    background-color: var(--lightGray);
    z-index: 0;
    padding: 30px;
    height: 150vh;
    // scroll-snap-align: start;
    // scroll-snap-stop: normal;
}

.card {
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
}
