.avatar {
    border-radius: 50%;
}

@media (max-width: 960px) {
    #homeAbout {
        #homeAboutDescription {
            justify-content: end;
            & > * {
                margin: 0;
            }
        }
    }
}
