.headerWraper {
    z-index: 100;
    top: 0;
    position: fixed;
    width: 100%;
    transition: transform 0.4s ease-out;
    .header {
        height: 40px;
        display: flex;
        justify-content: space-between;
        transition: background-color 0.4s ease-in-out;
        .headerLogo {
            padding: 7px;
            a {
                height: 100%;
                svg {
                    height: 100%;
                    width: auto;
                    fill: var(--primary);
                }
            }
        }
        .headerActions {
            display: flex;
            justify-content: flex-end;
            .headerMenu {
                display: flex;
                align-items: center;
                padding: 0 0.5em;
            }
            .themeToggler {
                margin: 0 1em 0 0.5em;
            }
            .lngSelector {
                height: 30px;
                align-self: center;
                margin-right: 15px;
                background: var(--coldGray);
                color: var(--textPrimary);
                border: none;
                border-radius: 5px;
                padding: 5px;
                & > * {
                    color: var(--textPrimary);
                }
            }
        }
    }
    .headerActivateArea {
        height: 20px;
    }
}
