.headerWraper {
    z-index: 100;
    top: 0;
    position: fixed;
    width: 100%;
    .header {
        height: 40px;
        display: flex;
        justify-content: space-between;
        background-color: var(--lightGrayTransparent);
        .headerLogo {
            height: 100%;
            padding: 7px;
            a {
                height: 100%;
                svg {
                    height: 100%;
                    width: auto;
                    fill: var(--primary);
                }
            }
        }
        .headerMenu {
            flex: 1;
            overflow: auto;
            background-color: initial;
            justify-content: right;
            align-items: center;
            border: none;
        }
        .themeToggler {
            margin: 0 1em 0 0.5em;
        }
        .lngSelector {
            height: 30px;
            align-self: center;
            margin-right: 15px;
            background: var(--coldGray);
            color: var(--textPrimary);
            border: none;
            border-radius: 5px;
            padding: 5px;
            & > * {
                color: var(--textPrimary);
            }
        }
    }
    .headerActivateArea {
        height: 20px;
    }
}

.ant-menu-horizontal {
    line-height: 38px;
    .ant-menu-submenu-horizontal {
        padding: 0 1em !important;
    }
}
.ant-menu {
    & > * {
        font-size: 0.9rem;
    }
    .ant-menu-item, .ant-menu-submenu {
        padding: 0 0.8em !important;
    }
    .ant-menu-item-active,
    .ant-menu-item-selected,
    .ant-menu-submenu-active,
    .ant-menu-submenu-selected,
    .ant-menu-submenu-open {
        margin-bottom: 4px;
        &::after {
            border-bottom: 4px solid var(--gray) !important;
        }
    }
}
.ant-menu-submenu-popup {
    position: fixed;
    top: 40px !important;
    .ant-menu,
    .ant-menu-sub {
        background-color: var(--lightGray);
        .ant-menu-submenu {
            .ant-menu-submenu-title {
                .ant-menu-submenu-arrow {
                    color: var(--textPrimary);
                }
            }
        }
        .ant-menu-item-selected,
        .ant-menu-submenu-selected,
        .ant-menu-submenu-active {
            background-color: var(--coldGray);
            &:focus {
                background-color: var(--darkWhite);
            }
        }
    }
}
