.headerWraper {
    z-index: 100;
    top: 0;
    position: fixed;
    width: 100%;
    .header {
        height: 40px;
        display: flex;
        justify-content: space-between;
        background-color: var(--lightGrayTransparent);
        .headerLogo {
            padding: 7px;
            a {
                height: 100%;
                svg {
                    height: 100%;
                    width: auto;
                    fill: var(--primary);
                }
            }
        }
        .headerActions {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            .toggler {
                margin: 0 15px;
            }
        }
        .lngSelector {
            height: 30px;
            align-self: center;
            margin-right: 15px;
            background: var(--coldGray);
            color: var(--textPrimary);
            border: none;
            border-radius: 5px;
            padding: 5px;
            & > * {
                color: var(--textPrimary);
            }
        }
    }
    .headerActivateArea {
        height: 20px;
    }
}
