@import "../../../components/CardPage/lineGridCard.scss";

#publications {
    @include setLineGridColumn;
    .section-content {
        .gridCardsView {
            .spanLineDelim {
                background: var(--coldGray);
                align-self: center;
                width: 50%;
                height: 1px;
                // margin: 0.5rem 0;
            }
            .gridCardWrapper {
                margin: 0;
                .gridCard {
                    min-height: 25vh;
                    &:hover {
                        background: var(--lightGray);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 960px){
    #publications {
        .section-content {
            .gridCardsView {
                .gridCardWrapper {
                    .gridCard {
                        min-height: 10rem;
                        .gridCardIcon {
                            width: 20%;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 560px) {
    #publications {
        .section-content {
            .gridCardsView {
                .spanLineDelim {
                    width: 50%;
                    height: 1px;
                    margin: 0.5rem 0;
                }
                .gridCardWrapper {
                    .gridCard {
                        flex-direction: column;
                        align-items: center;
                        .gridCardIcon {
                            margin: 0;
                            width: 90%;
                            max-width: 150px;
                        }
                        .gridCardView {
                            align-items: center;
                            & > * {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
