@import "../../../components/CardPage/lineGridCard.scss";

#publications {
    @include setLineGridColumn;
    .section-content {
        .gridCardsView {
            .gridCardWrapper {
                margin: 0;
                .gridCard {
                    min-height: 25vh;
                    &:hover {
                        background: var(--lightGray);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 960px) and (orientation: portrait) {
    #publications {
        .section-content {
            .gridCardsView {
                .gridCardWrapper {
                    .gridCard {
                        min-height: 15vh;
                    }
                }
            }
        }
    }
}
