.navMenu {
    display: flex;
    align-items: center;
    padding: 0 0.5em;
}

.menu-horizontal {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    height: 100%;
    * {
        font-weight: 300;
    }
    & > * {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .menu-item {
        position: relative;
        padding: 0 1em;
        &.menu-item-sub {
            &:hover {
                background-color: var(--lightGray);
            }
        }
        &.menu-item-main {
            &::after {
                border-bottom: 4px solid transparent;
                bottom: 0;
                content: "";
                position: absolute;
                right: 1.5em;
                left: 1.5em;
                transition: border-color 0.3s ease-in-out;
            }
            &:hover {
                &::after {
                    border-color: var(--gray);
                }
            }
        }
        &.menu-item-submenu {
            display: block;
            .menu-item-subitem {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            .dropdown {
                position: absolute;
                left: 0;
                right: auto;
                box-shadow: 0px 0.2rem 0.5rem -2px var(--grayTransparent);
                font-size: 0.875rem;
                z-index: 9999;
                min-width: max-content;
                background-color: var(--darkWhite);
                display: none;
                &.show {
                    display: block;
                }
                .dropdown-submenu {
                    position: absolute;
                    top: 100%;
                    left: 35px;
                }
                .menu-item {
                    padding: 0px;
                    .menu-item-content {
                        .menu-item-title {
                            padding: 0.5em 1em;
                        }
                    }
                }
            }
        }
    }
}

.menu-vertical {
    margin: 1em;
    * {
        font-weight: 300;
    }
    .menu-back {
        cursor: pointer;
        padding: 0.3rem 1rem;
        border-bottom: 0.5px solid var(--coldGray);
        &:hover {
            color: var(--gray) !important;
        }
    }
    .menu-back-plug {
        height: 3.1rem; // Founded experimentally
        border-bottom: 0.5px solid var(--coldGray);
    }
    .menu-item {
        cursor: pointer;
        border-bottom: 0.5px solid var(--coldGray);
        &:hover {
            * {
                color: var(--gray) !important;
            }
        }
        .menu-item-content {
            height: 100%;
            display: flex;
            padding: 0.5rem 1rem;
            align-items: center;
            justify-content: space-between;
        }
    }
}
