.navMenu {
    display: flex;
    align-items: center;
    padding: 0 0.5em;
    & > ul {
        margin: 0;
    }
    * {
        font-weight: 300;
    }
}

.menu-horizontal {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    height: 100%;
    & > * {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .menu-item {
        position: relative;
        cursor: pointer;
        * {
            cursor: pointer;
        }
        .menu-item-content {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 1em;
        }
    }
    .menu-item-main {
        &::after {
            border-bottom: 4px solid transparent;
            bottom: 0;
            content: "";
            position: absolute;
            right: 1.5em;
            left: 1.5em;
            transition: border-color 0.3s ease-in-out;
        }
        &:hover {
            &::after {
                border-color: var(--gray);
            }
        }
    }
    .menu-item-active {
        &::after {
            border-bottom: 4px solid var(--primary);
            bottom: 0;
            content: "";
            position: absolute;
            right: 1.5em;
            left: 1.5em;
            transition: border-color 0.3s ease-in-out;
        }
    }
    .menu-item-sub {
        &:hover {
            background-color: var(--lightGray);
        }
    }
    .menu-item-submenu {
        display: block;
        height: 100%;

        .menu-item-subitem {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .dropdown {
            position: absolute;
            left: 0;
            right: auto;
            // box-shadow: 0 10px 15px -3px var(--grayTransparent);
            box-shadow: 0px 0.2rem 0.5rem -2px var(--grayTransparent);
            font-size: 0.875rem;
            z-index: 9999;
            min-width: max-content;
            list-style: none;
            background-color: var(--darkWhite);
            display: none;
            &.show {
                display: block;
            }
            .dropdown-submenu {
                position: absolute;
                // left: 100%;
                // top: -7px;
                top: 100%;
                left: 35px;
            }
            .menu-item {
                padding: 0.5em 1em;
                .menu-item-content {
                    padding: 0;
                    color: var(--textPrimary);
                }
            }
        }
    }
}

.menu-vertical {
    margin: 1em;
    margin-bottom: 4em;
    .menu-back {
        cursor: pointer;
        padding: 0.3rem 1rem;
        &:hover {
            color: var(--gray) !important;
        }
    }
    .menu-back-plug {
        height: 2.15em; // Found experimentally
        width: 100%;
    }
    .menu-item {
        position: relative;
        border-top: 0.5px solid var(--coldGray);
        border-bottom: 0.5px solid var(--coldGray);
        &:hover {
            * {
                color: var(--gray) !important;
            }
        }
        cursor: pointer;
        * {
            cursor: pointer;
        }
        .menu-item-content {
            height: 100%;
            display: flex;
            padding: 0.5rem 1rem;
            align-items: center;
            justify-content: space-between;
        }
    }
}
