#feedback {
    position: relative;
    .waiter {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.6;
            background-color: var(--darkWhite);
            height: 100%;
            width: 100%;
        }
    }
    form {
        display: flex;
        flex-direction: column;

        input[type="submit"] {
            margin-top: 1em;
            background: var(--lightGray);
            color: var(--textPrimary);
            outline: none;
            border: none;
            border-radius: 0.3em;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
                background: var(--coldGray);
            }
            &:active {
                transform: scale(0.99);
            }
        }
    }
}

.ant-modal {
    font-size: initial !important;
    .ant-modal-header {
        background-color: var(--darkWhite);
    }
    .ant-modal-body {
        * {
            font-size: initial !important;
        }
        background-color: var(--darkWhite);
    }
}
