$sliderWidth: 50px;
$sliderHeight: 25px;
$padding: 4px;

.toggler {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  .switch {
    width: $sliderWidth;
    height: $sliderHeight;
    position: relative;
  }
  input {
    display: none;
  }
  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: var(--coldGray);
    border-radius: $sliderHeight / 2;
    cursor: pointer;
    transition: all 1.4s;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: $padding;
      left: $padding;
      width: $sliderHeight - $padding * 2;
      height: $sliderHeight - $padding * 2;
      background-color: var(--gray);
      border-radius: $sliderHeight / 2;
    }
    &:before {
      transition: 0.4s;
    }
    &:after {
      transition: 0.5s;
    }
    .icon {
      position: absolute;
      top: $padding;
      height: $sliderHeight - $padding * 2;
      width: $sliderHeight - $padding * 2;
      fill: var(--textPrimary);
    }
    .light-icon {
      right: $padding;
    }
    .dark-icon {
      left: $padding;
    }
  }
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: $sliderWidth;
    height: $sliderHeight;
    border-radius: $sliderHeight / 2;
    transition: all 1.4s;
  }
  input:checked + .slider {
    background-color: transparent;
    &:before,
    &:after {
      transform: translateX($sliderWidth - $sliderHeight);
    }
  }
  input:checked ~ .wave {
    display: block;
    background-color: var(--coldBlack);
  }
}
