.toggler {
  position: relative;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  .switch {
    width: 60px;
    height: 30px;
    position: relative;
  }
  input {
    display: none;
  }
  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: var(--coldGray);
    border-radius: 30px;
    cursor: pointer;
    transition: all 1.4s;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 5px;
      width: 20px;
      height: 20px;
      background-color: var(--gray);
      border-radius: 10px;
    }
    &:before {
      transition: 0.4s;
    }
    &:after {
      transition: 0.5s;
    }
    .icon {
      position: absolute;
      top: 5px;
      height: 20px;
      width: 20px;
      fill: var(--textPrimary);
    }
    .light-icon {
      right: 5px;
    }
    .dark-icon {
      left: 5px;
    }
  }
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    border-radius: 40px;
    transition: all 1.4s;
  }
  input:checked + .slider {
    background-color: transparent;
    &:before,
    &:after {
      transform: translateX(30px);
    }
  }
  input:checked ~ .wave {
    display: block;
    background-color: var(--coldBlack);
  }
}
