.gridCardsView {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .gridCardWrapper {
        flex-grow: 1;
        flex-basis: 50%;
        display: flex;
        align-items: center;
        .gridCard {
            width: 100%;
            min-height: 50vh;
            display: flex;
            padding: 1em;
            .gridCardPreview {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 100%;
                min-height: 150px;
                .gridCardImg {
                    height: 5em;
                    width: 5em;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .gridCardView {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                .gridCardViewLink {
                    background: transparent;
                    border: 1px solid;
                    border-radius: 20px;
                    padding: 0 10px;
                    margin-top: 1em;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .gridCardsView {
        position: relative;
        flex-direction: column;
        .gridCardWrapper {
            width: 100%;
            .gridCard {
                min-height: unset;
                .gridCardPreview {
                    flex-direction: row;
                    width: 100%;
                    justify-content: left;
                    .gridCardImg {
                        margin-right: 1em;
                    }
                }
            }
        }
    }
}
