:root {
    --primary: #336666;
    --white: #f4f4f4;
    --lightGray: #d1d1d1;
    --lightGrayTransparent: rgba(180, 180, 180, 0.8);
    --darkGray: rgb(80, 80, 80);
    --darkGrayTransparent: rgb(80, 80, 80, 0.8);
}

html,
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    overscroll-behavior: none;
    transition: transform 1000ms;
}

::-webkit-scrollbar {
    display: none;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}

.footer {
    z-index: 0;
}

a {
    text-decoration: none;
}
