:root {
}
:root[data-theme="light"] {
    --primary: hsl(180, 33%, 30%);
    --primarySecond: hsl(180, 33%, 50%);

    --white: white;
    --bgWhite: rgba(245, 245, 245);
    --darkWhite: rgba(235, 235, 235);
    --lightGray: rgba(215, 215, 215);
    --lightGrayTransparent: rgba(210, 210, 210, 0.9);
    --coldGray: rgba(190, 190, 190);
    --gray: rgba(160, 160, 160);
    --grayTransparent: rgba(160, 160, 160, 0.6);
    --darkGray: rgb(130, 130, 130);
    --coldBlack: rgb(40, 40, 40);
    --black: black;

    --textPrimary: rgb(40, 40, 40);
    --textInverse: rgba(220, 220, 220);
}
:root[data-theme="dark"] {
    --primary: hsl(180, 33%, 60%);
    --primarySecond: hsl(180, 33%, 40%);

    --white: black;
    --bgWhite: rgb(30, 30, 30);
    --darkWhite: rgb(40, 40, 40);
    --lightGray: rgb(60, 60, 60);
    --lightGrayTransparent: rgba(60, 60, 60, 0.9);
    --coldGray: rgb(90, 90, 90);
    --gray: rgb(120, 120, 120);
    --grayTransparent: rgba(120, 120, 120, 0.6);
    --darkGray: rgba(140, 140, 140);
    --coldBlack: rgba(160, 160, 160);
    --black: white;

    --textPrimary: rgba(200, 200, 200);
    --textInverse: rgb(40, 40, 40);
}

html,
body {
    background-color: var(--bgWhite);
    margin: 0;
    overscroll-behavior: none;
    * {
        color: var(--textPrimary);
    }
}

body {
    overflow-x: hidden;
    overflow-y: overlay;
    ::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--grayTransparent);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--gray);
}

ul {
    padding: 0;
}
li {
    list-style: none;
}

.footer {
    z-index: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--primary);
    &:hover {
        color: var(--primarySecond);
    }
}

.linkBtnListWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.linkBtn {
    background: transparent;
    border: 1px solid;
    border-radius: 20px;
    padding: 0 10px;
    margin: 0.5em 0.2em 0 0.2em;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
    }
}
