@mixin setGridCardsToRows {
    .gridCards {
        width: 100%;
        max-width: 100%;
        flex-direction: column;
        padding: 0 1rem;
        .gridCard-wrapper {
            padding: 0;
            margin: 0 0 1em 0;
            flex: 1;

            .gridCard {
                flex-direction: row;
                .gridCard-icon {
                    width: 15%;
                    margin: 0;
                    padding: 0;
                    margin-right: 1em;
                    svg {
                        padding: 0.5em;
                    }
                }
                .gridCard-view {
                    align-items: flex-start;
                    & > * {
                        text-align: left;
                    }
                    .font-title {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    @include setGridCardsToRows;
}
